* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

.header {
      background-image: url("images/starWarsWallpaper.jpeg");
      text-align: center;
}
.logo {
      max-width: 370px;
}

main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: rgb(37, 37, 39);
      color: white;
      font-family: 'Space Mono', monospace;
}

form {
      display: flex;
      flex-direction: column;
      margin: 20px;
}
select {
      padding: 5px;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      height: 40px;
}
.select1, .select2 {
      font-size: 1.3rem;
      margin-bottom: 10px;
}

.button {
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      margin-top: 10px;
      margin-bottom: 18px;
      font-weight: 700;
      width: 102px;
      height: 45px;
}
.submitBtn {
      background:#FFE81F;
}
.resetBtn {
      margin-left: 20px; 
      background: rgb(119, 208, 240);
}
.submitBtn:hover {
      background: rgb(37, 37, 39);
      color: #FFE81F;
      border: 1px solid #FFE81F;
      transition-duration: 0.5s;
}

.resetBtn:hover {
      background: rgb(37, 37, 39);
      color: rgb(119, 208, 240);
      border: 1px solid rgb(119, 208, 240);
      transition-duration: 0.5s;
}

.characterContainer {
      display: flex;
      flex-direction: column;
      padding: 30px 0;
      min-height: 70vh;
}
.characterName {
      text-align: center;
      margin-top: 15px;
}

.buttonContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      margin: 20px;
}
.buttonContainer > button {
      padding: 15px 10px;
      background: rgb(37, 37, 39);
      color: #FFE81F;
      border: 1px solid #FFE81F;
      border-radius: 7px;
      margin: 5px;
      font-size: 1.05rem;
      min-width: 160px;
}
.buttonContainer > button:hover {
      background: #FFE81F;
      color: black;
      border: none;
      transition-duration: 0.8s;
}



